@import 'var.scss';

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: calc(10px);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-button {
  display: none;
}

header {
  #menu-btn-element {
    background-color: #fff;
    box-shadow: 1px 1px 5px #000;
    cursor: pointer;
    height: 500px;
    margin-left: 0;
    margin-top: -310px;
    position: fixed;
    transform: rotate(70deg);
    user-select: none;
    width: 300px;
    z-index: 4;
    transition: background-color .5s ease-in-out;

    div#menu-btn {
      transform: rotate(-70deg);
      position: absolute;
      top: 305px;
      left: 165px;
      display: flex;
      align-items: center;

      .menu-icon, .menu-icon:before, .menu-icon:after {
        width: 25px;
        height: 3px;
        background-color: #000;
        position: absolute;
        transition: 2s;
      }

      .menu-icon {
        &:before {
          content: "";
          top: -10px;
        }

        &:after {
          content: "";
          bottom: -10px;
        }
      }

      p.menu-text {
        font-family: 'Varela Round';
        font-size: 50px;
        color: #000;
        margin-bottom: 6px;
        margin-left: 30px;
        transition: 2s;
      }
    }

    &:hover {
      background-color: #000;

      div#menu-btn {
        .menu-icon, .menu-icon:before, .menu-icon:after {
          background-color: #fff;
        }

        p.menu-text {
          color: #fff;
        }
      }
    }

    &:active {
      background-color: #333;
    }
  }

  nav#main-menu {
    background-color: #000;
    height: calc(100vh - 160px);
    left: 0;
    max-height: calc(100vh - 160px);
    max-width: 200px;
    min-height: calc(100vh - 160px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 160px;
    position: fixed;
    transition: 400ms ease-in-out;
    z-index: 3;
    direction: rtl;

    &.menu-closed {
      left: -210px;
    }

    a.menu-item {
      text-decoration: none;

      li {
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
        color: #000;
        display: flex;
        font-family: 'Varela Round';
        font-size: 28px;
        font-weight: bold;
        height: 100px;
        justify-content: center;
        margin: 5%;
        transition: 200ms;
        width: 90%;
      }

      &:hover {
        li {
          background-color: #000;
          color: #fff;
        }
      }
    }

    &:hover {
      background-color: #fff;
    }

    &::-webkit-scrollbar-track {
      box-shadow: none;
    }
    &::-webkit-scrollbar-thumb {
      background: #000;
    }
  }
}

nav, footer {
  background-color: #fff;
  clear: both;
  float: left;
  margin: 0;
  width: 100vw;
  box-shadow: 1px 1px 5px #000;
}

footer {
  color: #fff;
  margin-top: 2000px;
}

p {
  margin: 0;
}

@media (max-width: 950px) {

}
