@import 'var.scss';

html, body {
  margin: 0;
  padding: 0;
  display: block;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .75);
}
::-webkit-scrollbar-thumb {
  background: #000;
}
::-webkit-scrollbar-button {
  display: none;
}

main {
  min-height: 100vh;
  margin-top: 25px;
  margin-bottom: 25px;
}

// set container responsive widths
main, .footer-wrapper {
  margin-right: 20%;
  margin-left: 20%;

  @media screen and (max-width: $bp-tablet) {
    margin-right: 10%;
    margin-left: 10%;
  }

  @media screen and (max-width: $bp-mobile) {
    margin-right: 5%;
    margin-left: 5%;
  }

  @media screen and (max-width: $bp-mobile-small) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

* {
  font-family: sans-serif;
}

p {
  margin: 0;
}

p > a {
  color: $accent1;
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $accent1;
    transition: width 200ms ease;
    opacity: .75;
  }

  &:hover {
    &:after {
      width: 0;
      left: unset;
      right: 0;
    }
  }
}

// page title
.page-title-wrapper {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  color: $light;
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;

  .page-title {
    position: fixed;

    h1 {
      margin: 0;
      font-family: 'Varela Round';

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  &:after {
    content: '';
    background-color: $light;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -86px;
    transform: rotateZ(-1deg);
    box-shadow: 0px -2px 2px 0px #fff;
  }
}

@media (max-width: 950px) {

}
