@import 'var.scss';

header {
  display: flex;

  #menu-btn-element {
    background-color: $light;
    box-shadow: 1px 1px 5px #000;
    cursor: pointer;
    height: 500px;
    margin-left: 0;
    margin-top: -310px;
    position: fixed;
    transform: rotate(70deg);
    user-select: none;
    width: 300px;
    z-index: 4;
    transition: background-color .5s ease-in-out;

    div#menu-btn {
      transform: rotate(-70deg);
      position: absolute;
      top: 305px;
      left: 165px;
      display: flex;
      align-items: center;

      .menu-icon, .menu-icon:before, .menu-icon:after {
        width: 25px;
        height: 3px;
        background-color: $dark;
        position: absolute;
        transition: 2s;
      }

      .menu-icon {
        &:before {
          content: "";
          top: -10px;
        }

        &:after {
          content: "";
          bottom: -10px;
        }
      }

      p.menu-text {
        font-family: 'Varela Round';
        font-size: 50px;
        color: #000;
        margin-bottom: 6px;
        margin-left: 30px;
        transition: 2s;
      }
    }

    &:hover {
      background-color: $dark;

      div#menu-btn {
        .menu-icon, .menu-icon:before, .menu-icon:after {
          background-color: $light;
        }

        p.menu-text {
          color: #fff;
        }
      }
    }

    &:active {
      background-color: #333;
    }
  }

  nav#main-menu {
    background-color: $dark;
    height: calc(100vh - 160px);
    left: 0;
    max-height: calc(100vh - 160px);
    width: 100vw;
    max-width: 170px;
    min-height: calc(100vh - 160px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 160px;
    position: fixed;
    transition: 400ms ease-in-out;
    z-index: 3;
    direction: rtl;
    box-shadow: 1px 1px 5px #000;

    &.menu-closed {
      left: -210px;
    }

    a.menu-item {
      text-decoration: none;
      display: block;
      margin: 5%;

      li {
        align-items: center;
        background-color: $light;
        border-radius: 8px;
        box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
        color: #000;
        display: flex;
        font-family: 'Varela Round';
        font-size: 24px;
        font-weight: bold;
        height: 80px;
        justify-content: center;
        transition: 200ms;
      }

      &:hover {
        li {
          background-color: $accent1;
          color: #fff;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: none;
    }
    &::-webkit-scrollbar-thumb {
      background: $light;
    }
  }
}
