#DON'T SHOW DIRECTORY LISTINGS
Options -Indexes

ErrorDocument 400 /pages/error.php
ErrorDocument 401 /pages/error.php
ErrorDocument 403 /pages/error.php
ErrorDocument 404 /pages/error.php
ErrorDocument 405 /pages/error.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^$ pages/home.php
RewriteRule ^home$ pages/home.php
RewriteRule ^projects$ pages/projects.php
RewriteRule ^contact$ pages/contact.php

DirectoryIndex index.php

# ensure https
RewriteCond %{HTTP_HOST} !^localhost$ [NC]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
