(defaults_jeroendn) {
    reverse_proxy php:80
}

jeroendn.nl:80 jeroendn.nl:443 {
    import defaults_jeroendn
}

jeroendn.local:80 jeroendn.local:443 {
    import defaults_jeroendn

    tls internal {
        on_demand
    }
}
