@import url(https://fonts.googleapis.com/css?family=Varela+Round);body {
  background-color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-thumb {
  background: #000;
}

::-webkit-scrollbar-button {
  display: none;
}

main {
  min-height: 60vh;
  background-color: #fff;
}

p {
  margin: 0;
}

a:not(.btn) {
  color: #f06414;
  text-decoration: none;
  position: relative;
  transition: color 150ms ease;
}

a:not(.btn):after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f06414;
  transition: width 200ms ease;
  opacity: 0.75;
}

a:not(.btn):hover {
  text-decoration: none;
  color: #F79D19;
}

a:not(.btn):hover:after {
  width: 0;
  left: unset;
  right: 0;
}

.page-title-wrapper {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.page-title-wrapper .page-title h1 {
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

.page-title-wrapper .page-title h1::first-letter {
  text-transform: uppercase;
}

.page-title-wrapper:after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: -86px;
  transform: rotateZ(-1deg);
  box-shadow: 0px -2px 2px 0px #fff;
}

header {
  display: flex;
}

header #menu-btn-element {
  z-index: 4;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
}

@media screen and (min-width: 576px) {
  header #menu-btn-element {
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #000;
    height: 500px;
    margin-left: 0;
    margin-top: -310px;
    transform: rotate(70deg);
    width: 300px;
    transition: background-color 0.5s ease-in-out;
  }
}

@media screen and (max-width: 575px) {
  header #menu-btn-element {
    width: 170px;
  }
}

@media screen and (min-width: 576px) {
  header #menu-btn-element div#menu-btn {
    transform: rotate(-70deg);
    position: absolute;
    top: 305px;
    left: 165px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 575px) {
  header #menu-btn-element div#menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, transparent 15px, #000000 15px);
  }
}

header #menu-btn-element div#menu-btn .menu-icon,
header #menu-btn-element div#menu-btn .menu-icon:before,
header #menu-btn-element div#menu-btn .menu-icon:after {
  width: 25px;
  height: 3px;
  background-color: #000000;
  position: absolute;
}

@media screen and (min-width: 576px) {
  header #menu-btn-element div#menu-btn .menu-icon,
  header #menu-btn-element div#menu-btn .menu-icon:before,
  header #menu-btn-element div#menu-btn .menu-icon:after {
    transition: 1s background-color;
  }
}

@media screen and (max-width: 575px) {
  header #menu-btn-element div#menu-btn .menu-icon,
  header #menu-btn-element div#menu-btn .menu-icon:before,
  header #menu-btn-element div#menu-btn .menu-icon:after {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 575px) {
  header #menu-btn-element div#menu-btn .menu-icon {
    position: relative;
    top: -2px;
  }
}

header #menu-btn-element div#menu-btn .menu-icon:before {
  content: "";
  top: -10px;
}

header #menu-btn-element div#menu-btn .menu-icon:after {
  content: "";
  bottom: -10px;
}

@media screen and (min-width: 576px) {
  header #menu-btn-element div#menu-btn p.menu-text {
    font-family: "Varela Round", sans-serif;
    font-size: 50px;
    color: #000;
    margin-bottom: 6px;
    margin-left: 30px;
    transition: 1s color;
  }
}

@media screen and (max-width: 575px) {
  header #menu-btn-element div#menu-btn p.menu-text {
    color: #fff;
    font-size: 34px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 576px) {
  header #menu-btn-element:hover {
    background-color: #000000;
  }
}

header #menu-btn-element:hover div#menu-btn .menu-icon,
header #menu-btn-element:hover div#menu-btn .menu-icon:before,
header #menu-btn-element:hover div#menu-btn .menu-icon:after {
  background-color: #ffffff;
}

header #menu-btn-element:hover div#menu-btn p.menu-text {
  color: #fff;
}

header nav#main-menu {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: #000000;
  height: 100vh;
  left: 0;
  max-height: 100vh;
  width: 100vw;
  max-width: 170px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 160px;
  position: fixed;
  transition: 400ms ease-in-out;
  z-index: 3;
  direction: rtl;
  box-shadow: 1px 1px 5px #000;
}

@media screen and (max-width: 575px) {
  header nav#main-menu {
    padding-top: 60px;
  }
}

header nav#main-menu.menu-closed {
  left: -210px;
}

header nav#main-menu ul {
  margin: 0;
  padding: 0;
}

header nav#main-menu li.menu-item {
  display: block;
  margin: 5%;
}

header nav#main-menu li.menu-item:first-of-type {
  margin-top: 0;
}

header nav#main-menu li.menu-item a {
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.8);
  color: #000;
  display: flex;
  font-family: "Varela Round", sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  transition: 200ms;
  text-decoration: none;
}

header nav#main-menu li.menu-item a:after {
  display: none;
}

header nav#main-menu li.menu-item:hover a {
  background-color: #f06414;
  color: #fff;
}

header nav#main-menu::-webkit-scrollbar {
  width: 5px;
}

header nav#main-menu::-webkit-scrollbar-track {
  box-shadow: none;
}

header nav#main-menu::-webkit-scrollbar-thumb {
  background: #ffffff;
}

footer#footer {
  background-color: #000000;
  color: #fff;
  width: 100vw;
  box-shadow: 0 0 5px 0 #000;
  overflow: hidden;
}

footer#footer .footer-wrapper ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

footer#footer #bottom-bar {
  background-color: #ffffff;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease;
}

footer#footer #bottom-bar p {
  font-size: 13px;
}

